/* You can add global styles to this file, and also import other style files */
.mt-2{
  margin-top: 2rem;
}
.border {

  border : 2px solid #26a69a;
  vertical-align: middle;
}
.text-bold{
  font-weight: bold;
}
.graph {
  width: 100%;
  height: calc(100% - 30px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
